.flash-box {
  color: $white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
  .notice {
    background-color: $light_blue
  }
}
  .side-bar { 
    color: $white;
    width: 300px;
    float: left;
    .header {
      background-color: $blue_dark;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      &__lists {
        display: inline-block;
        .list {
          display: inline-block;
        }
        .icon {
          color: $white;
          font-size: 16px;
        }
      }
    }
  }

    .groups {
      height: calc(100vh - 100px);
      background-color: $dark_grey;
      padding: 20px 20px 0;
      overflow: scroll;
      .group {
        margin-bottom: 40px;
        .border {
          text-decoration: none;
        }
        &__name {
          font-size: 15px;
          text-align :left;
          color: $white;
        }
        &__message {
          font-size: 11px;
          margin-top: 5px;
          text-align: left;
          color: $white;
        }
      }
    }

  .chat {
    width: calc(100% - 300px);
    float: left;
    .header {
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      text-align: left;
      .left-header {
        font-size: 20px;
        color: #333;
        margin-top: 35px;
        &__title {
          font-size: 100%;
          font-weight: normal;
        }
        &__members {
          color: #999;
          display: flex;
          font-size: 12px;
          margin-top: 15px;
          .member {
            display: inline-block;
            padding-right: 5px;
          }
        }
      }
      .right-header {
        border: 1px solid $light_blue;
        color: $light_blue;
        float: right;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;
        &__button{
          color: $light_blue;
          text-decoration:none;
        }
          .btn{ 
            color: $light_blue;
            text-decoration: none;
          }
        }
      }
    }

    .messages {
      background-color: #FAFAFA;
      padding: 46px 40px;
      height: calc(100vh - 190px);
      overflow: scroll;
      .message {
        padding-bottom: 40px;
        .upper-message {
          margin-bottom: 10px;
          display: flex;
          &__user-name {
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: #999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        .lower-message {
          margin-top: 10px;
          &__content {
            color: #434a54;
            font-size: 14px;
            margin-bottom: 40px;
            text-align: left;
          }
        }
      }
    }

    .form {
      background-color: #DDDDDD;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
        &__message {
          border: none;
          float: left;
          height: 50px;
          width: calc(100% - 150px);
        }
        &__mask {
          background-color: $white;
          float: left;
          height: 50px;
          padding-right: 10px;
          &__image {
            font-size: 20px;
            line-height: 50px;
          }
        }
          .icon {
            color: black;
          }
          .hidden {
            display: none;
          }
        &__submit {
          background-color: $light_blue;
          border: none;
          color: $white;
          float: right;
          font-size: 16px;
          height: 50px;
          margin-left: 15px;
          padding: 0 30px;
        }
      }